:root {
  /* Colors */
  --cl-dark: 46 47 66;
  --cl-brand: 77 90 229;
  --cl-pressedstate: 64 75 191;
  --cl-success: 49 208 170;
  --cl-text: 67 68 85;
  --cl-subtext: 142 143 153;
  --cl-light: 244 244 253;
  --cl-accent: 231 233 252;
  --cl-grey: 46 47 66;
  --cl-white: 255 255 255;
  --cl-green: 49, 208, 170;
  --cl-modal: 252, 252, 252;

  /* Percent */
  --p-primary: 70%;
  --p-secondary: 50%;
  --p-tertiatry: 30%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 32px;
  line-height: 1.5;
  font-weight: 500;
  color: rgb(var(--cl-text));
  background-color: rgb(var(--cl-white));
}

/* Reset + common style */
a {
  text-decoration: none;
  font-style: normal;
  color: currentColor;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* #region heared */
.header {
  border-bottom: 1px solid rgb(var(--cl-accent));
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
}
.header-menu,.address {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: rgb(var(--cl-brand));
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.logo-accent {
  color: rgb(var(--cl-dark));
}

.burger-btn {
  padding: 0;
  background: transparent;
  border: none;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgb(var(--cl-text));
    padding: 24px 0;
    display: inline-block;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: rgb(var(--cl-pressedstate));
  }

  .address {
    font-style: normal;
    display: block;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgb(var(--cl-text));
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: rgb(var(--cl-pressedstate));
  }

  .current {
    color: rgb(var(--cl-pressedstate));
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }
  
  .current::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: rgb(var(--cl-pressedstate));
    border-radius: 2px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* ====MOBILE MENU====== */

.mob-menu {
  background-color: rgb(var(--cl-white));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-wrap {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  flex-direction: column;
  height: 100%;
}

.mob-menu-wrap.container {
  align-items: flex-start;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.close-btn.mobile {
  background-color: transparent;
}

.close-btn-icon {
  fill: rgb(var(--cl-dark));
}

.mob-nav-menu {
  margin-bottom: auto;
}
.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mob-nav-item {
}
.mob-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-dark));
}

.mob-nav-link.current {
  color: rgb(var(--cl-pressedstate));
}

.mob-menu-contacts {
  margin-bottom: 48px;
}
.mob-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-contacts-item {
}
.mob-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-text));
}

.mob-contacts-link.current {
  color: rgb(var(--cl-pressedstate));
}

.socials-list {
  display: flex;
  gap: 40px;
}

.socials-list-link {
  width: 40px;
  height: 40px;
  background-color: rgb(var(--cl-pressedstate));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials-icon {
  fill: rgb(var(--cl-light));
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

/* #endregion */

/* #region Hero */
.hero {
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-white));
  margin-bottom: 48px;
  max-width: 496px;
}

.btn-primary {
  background-color: rgb(var(--cl-brand));
  font-size: 16px;
  color: rgb(var(--cl-white));
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: rgb(var(--cl-pressedstate));
}

/* #endregion */
/* #region Feature */
.features {
}

.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-dark));
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 3 * 24px) / 4);
}

.features-icon-wrap {
  background-color: rgb(var(--cl-light));
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid rgb(var(--cl-subtext));
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-desc {
  font-weight: 400;
  color: rgb(var(--cl-text));
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */
/* #region Team */
.team {
  background-color: rgb(var(--cl-light));
}

.team-title {
  color: rgb(var(--cl-dark));
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: rgb(var(--cl-white));
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.team-item-name {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-dark));
  margin-bottom: 8px;
}

.team-item-desc {
  color: rgb(var(--cl-text));
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-title-wrap {
  padding: 32px 0;
}

.team-item-img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.team-socials-list {
  display: flex;
  gap: 24px;
  padding: 0 16px;
  justify-content: center;
}
.team-socials-item {
  width: calc((100% - 3 * 24px) / 4);
}
.socials-list-link {
  width: 40px;
  height: 40px;
  background-color: rgb(var(--cl-brand));
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-list-link:hover,
.socials-list-link:focus {
  background-color: rgb(var(--cl-pressedstate));
}

.socials-icon {
  fill: rgb(var(--cl-light));
}
/* #endregion */
/* #region Portfolio */

.portfolio-title {
  color: rgb(var(--cl-dark));
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.card-content {
  padding: 32px 16px;
  align-self: stretch;
  border-right: 1px solid rgb(var(--cl-accent));
  border-bottom: 1px solid rgb(var(--cl-accent));
  border-left: 1px solid rgb(var(--cl-accent));
}

.portfolio-item {
  display: flex;
  width: 360px;
  height: 420px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-dark));
  margin-bottom: 8px;
}

.portfolio-item-desc {
  color: rgb(var(--cl-text));
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-card-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-card-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-light));
  background: rgb(var(--cl-brand));
  padding: 40px 32px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-card-text {
  transform: translateY(0);
}

/* #endregion */
/* #region Footer */
.footer {
  background-color: rgb(var(--cl-dark));
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgb(var(--cl-brand));
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-accent {
  color: rgb(var(--cl-light));
}

.footer-item {
  color: rgb(var(--cl-light));
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-text-wrap {
  margin-right: 120px;
}

.footer-socials-wrap {
  max-width: 208px;
}
.footer-social-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-white));
  margin-bottom: 16px;
}
.socials-list {
  display: flex;
  gap: 16px;
}
.socials-item {
}
.socials-list-link {
  display: flex;
  background-color: rgb(var(--cl-brand));
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
  fill: rgb(var(--cl-light));
}
.footer-list-link:hover,
.footer-list-link:focus {
  background-color: rgb(var(--cl-green));
}
.footer-subscribe-wrapper {
  margin-left: 80px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: rgb(var(--cl-white));
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}
.footer-subscribe-label {
}
.footer-subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgb(var(--cl-white));
  background-color: transparent;
  min-width: 264px;
  min-height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid rgb(var(--cl-white));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
}
.footer-subscribe-input::placeholder {
  color: rgb(var(--cl-white));
}
.footer-subscribe-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: rgb(var(--cl-white));
  background-color: rgb(var(--cl-brand));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: rgb(var(--cl-pressedstate));
}

.footer-subscribe-icon {
  fill: rgb(var(--cl-white));
  margin-left: 16px;
}

/* #endregion */
/* #region Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  background-color: rgba(var(--cl-dark) / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-open {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  max-width: 408px;
  width: 100%;
  min-height: 584px;
  border-radius: 4px;
  background-color: rgb(var(--cl-modal));
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-btn {
  display: flex;
  color: rgb(var(--cl-dark));
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(var(--cl-accent));
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: rgb(var(--cl-pressedstate));
  border: none;
  fill: rgb(var(--cl-white));
}

.modal-btn-icon {
  color: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-caption {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: rgb(var(--cl-dark));
}

.input {
  display: block;
}

.textarea {
  resize: none;

}

.modal-form {
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-label {
  color: rgb(var(--cl-subtext));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgb(var(--cl-dark) / 40%);
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: rgb(var(--cl-brand));
}

.modal-form-icon {
  fill: rgb(var(--cl-dark));
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: rgb(var(--cl-brand));
}

.modal-form-wrapper {
}

.comment-field {margin-bottom: 16px; 
}
.modal-form-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  min-height: 120px;
  padding: 8px 16px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgb(var(--cl-dark) / 40%);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(var(--cl-dark) / 40%);
  background-color: transparent;
}

.modal-form-comment::placeholder {
  color: rgb(var(--cl-dark) / 40%);
}

.modal-form-comment:focus {
  border-color: rgb(var(--cl-brand));
}
/*Agreement*/
.modal-form-agreement-wrapper{
  margin-bottom: 24px;
}


.modal-form-agreement {
  display: block;
  color: rgb(var(--cl-subtext));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgb(var(--cl-dark) / 40%);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-check-input:checked + .modal-form-agreement .modal-form-checkbox {
  background-color: rgb(var(--cl-pressedstate));
  border: none;
  fill: rgb(var(--cl-light));
}
/*input[type='checkbox']:checked + .modal-form-checkbox {
  background-color: rgb(var(--cl-pressedstate));
  border: none;
  fill: rgb(var(--cl-light));
}

.modal-form-checkbox-icon {
  opacity: 0;
}

input[type='checkbox']:checked
  + .modal-form-checkbox
  > .modal-form-checkbox-icon {
  opacity: 1;
}*/

.modal-form-policy {
  color: rgb(var(--cl-brand));
  text-decoration: underline;
}

.modal-form-policy:hover,
.modal-form-policy:focus {
  color: rgb(var(--cl-pressedstate));
}

.modal-submit-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  background-color: rgb(var(--cl-brand));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  color: rgb(var(--cl-white));
  text-align: center;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: rgb(var(--cl-pressedstate));
}
